h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p {
    color:red;
}
#green {
    color:green;
}

.blueviolet {
    color:blueviolet
}
.cases_text {
    color: #2590c8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#c-align {
    text-align: center;
    border: 1px solid black;
}