.page {
	width: 850px;
    background-color: whitesmoke;
    margin: auto;
    padding: 0px;
    padding-top: 35px;
	right: 100px;

}
#slider_map {
	top:0px;
	bottom: 50px; 
	left: 0px;
	right: 500px;
	background-color:whitesmoke;
	align-content: center;
}

#bar_chart {
	top: 150px;
	bottom: 0px; 
	left: 0px;
	right: 0px;
	background-color:whitesmoke;
}
#pie_chart {
	top: 150px;
	bottom: 50px; 
	left: 0px;
	right: 50px;
	background-color:whitesmoke;
}

h1 {
	font-size: 50px;
	text-align: center;
	font-family:"Open Sans";
	font-weight: bold;
}
h2 {
	font-size: 30px;
	font-family:"Open Sans";
	font-weight: bold

}
p {
	font-size: 20px;
	font-family: "Open Sans"
}
.center_a {
	text-align: center;
	padding-right: 20px;
}
#subtitle {
	padding-top: 10%;
}
#pure_w {
	background-color: whitesmoke;
}
